<form #productoForm="ngForm"   (ngSubmit)="onSave(productoForm.value)" novalidate>
  <p>Is "myForm" valid? {{productoForm.valid}}</p>
  <table border='1'>
    <tr>
      <td>name</td>
      <td>
        <input name="id" type="hidden"     [(ngModel)]="id" />
        <input name="nombre" type="text"  required  [(ngModel)]="nombre" />

      </td>
    </tr>

    <tr>
      <td>address</td>
      <td>    <input name="precio" required  type="text"   [(ngModel)]="precio" /></td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="{{valbutton}}" />
      </td>
    </tr>
  </table>
</form>

<table border='1'>

  <tr>
    <td>Id</td>
    <td>Nombre</td>
    <td>Precio</td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>
  <tr *ngFor="let product of Repdata;let ind = index">

    <td>{{ind + 1}}</td>
    <td>{{product.nombre}}</td>
    <td>{{product.precio}}</td>
    <td><a (click)="edit(product)" style="color:blueviolet">Edit</a></td>
    <td><a (click)="delete(product._id)" style="color:blueviolet">Delete</a>  </td>
  </tr>
</table>
