<div id="contenidoM">
    <div class="row" style="border: 2px solid black">
        <div class="col-sm-12">
            <h2>Reporte</h2>
            <h2>Variable (variables)</h2>
        </div>
    </div>
    <div class="row" style="border-bottom: 2px solid black;border-left: 2px solid black; border-right: 2px solid black">
        <div class="col-sm-6">Ubicacion: Ibarra
            <div class="row">
                <div class="col-sm-6">Año: 2012</div>
            </div>
        </div>
        <div class="col-sm-6">Elevacion: 2221 msnm
            <div class="row">
                <div class="col-sm-6">Latitud: 0° 21' 01 "N</div>
            </div>
            <div class="row">
                <div class="col-sm-6">Longitud: 78°06'24"W</div>
            </div>
        </div>
    </div>
</div>