/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
@import '~c3/c3.css';
body {
    background-color: #f2f2f2 !important;
}

.chart-root {
    background: rgba(250, 250, 250, 0.3) !important;
}
.ui-datepicker-calendar {
    display: none;
}

h1, h2, h3, h4 {
    font-family: Alegreya Sans;
    font-size: 35px;
    color: black;
    text-transform: capitalize !important;
}

h5, h6 {
    font-family: Alegreya Sans;
    font-size: 23px;
    color: black;
    text-transform: capitalize !important;
}

label {
    color: black;
    text-transform: capitalize !important;
}

.form-control {
    width: 120px;
    height: 25px;
}

.optionsTemp {
    background-color: white;
    height: 35px;
    box-shadow: 3px 3px 5px #999;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 2px 2px 0 0;
    font-size: 13px;
    padding: 2px 10px 0;
    text-transform: uppercase;

}


/* */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}