<div class="div_title">
    <div class=""><h5>Temperatura</h5>
    </div>

    <div class="dropdown" style="float: right; margin-top: -35px;">
        <button style="width: 33px; height: 30px" class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
            <li class="dropdown-item"><a >Reporte</a></li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-submenu">
                <a  class="dropdown-item" tabindex="-1" >Graficas</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"> <input type="checkbox"><a> barras </a></li>
                    <li class="dropdown-item"> <input type="checkbox"><a> lineas </a></li>
                    <li class="dropdown-item"> <input type="checkbox"><a> histograma </a></li>
                </ul>
            </li>
        </ul>
    </div>

</div>

<div class="optionsTemp" style="height: 70px">
    <div class="row">
        <div class="col-sm-3 custom-checkbox" style="margin-left: 15px;">
            <input type="checkbox" class="custom-control-input custom-control-inline" id="customCheck1"
                   value="tempOut" (click)="onChangeVal($event)">
            <label class="custom-control-label" for="customCheck1">Temperatura Media</label>
        </div>
        <div class="col-sm-3 custom-checkbox">
            <input type="checkbox" class="custom-control-input custom-control-inline" id="customCheck2"
                   value="lowTemp" (click)="onChangeVal($event)">
            <label class="custom-control-label" for="customCheck2">Temperatura Minima</label>
        </div>
        <div class="col-sm-3 custom-checkbox">
            <input type="checkbox" class="custom-control-input custom-control-inline" id="customCheck3"
                   value="hiTemp" (click)="onChangeVal($event)">
            <label class="custom-control-label" for="customCheck3">Temperatura Maxima</label>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-3">
            <select [(ngModel)]="SelectTime.option" #Time class="custom-select selectCustom"
                    (change)="onChangeTime(Time.value)">
                <option value="1" disabled="true">Seleccione</option>
                <option value="Dia">Dia</option>
                <option value="Mensual">Mensual</option>
                <option value="Anual">Anual</option>
                <option value="Lapso de tiempo">Lapso de Tiempo</option>
            </select>
        </div>
        <div class="col-sm-3" [hidden]="!EditFecha">
            <input placeholder="Desde" data-toggle="tooltip" data-placement="top"
                   title="Elija una fecha desde el año 2005 "
                   data-date-format="dd/mm/yy"
                   class="datepicker form-control"
                   id="fechaIn">
        </div>

        <div class="col-sm-3" [hidden]="!EditFecha">
            <input placeholder="Hasta" data-toggle="tooltip" data-placement="top"
                   title="Elija una fecha hasta el año 2018 "
                   data-date-format="dd/mm/yy"
                   class="datepicker form-control "
                   id="fechaFin">

        </div>
        <div class="col-sm-3" [hidden]="!EditDia">
            <input id="Fdia" [(ngModel)]="Fdia" placeholder="Dia" data-toggle="tooltip"
                   data-placement="top"
                   data-date-format="dd/mm/yy"
                   class="datepicker form-control" (ngModelChange)="dataChanged($event)">
        </div>
        <div class="col-sm-4" [hidden]="!EditMonth">
            <input [(ngModel)]="FMes" placeholder="Mes" name="startDate" id="FMes" class="datepickerM form-control">
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-sm" (click)="onSelectTime()">
                <span class=""></span> Buscar
            </button>


        </div>
    </div>
</div>
<div id="chartTemperature"></div>