<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a>
                    Variables Climaticas
                </a>
            </li>
            <li>
                <a #Temp (click)="getGrafica('Temperatura')">Temperatura</a>
            </li>
            <li>
                <a #Hum (click)="getGrafica('Humedad')">Humedad</a>
            </li>
            <li>
                <a #Rad (click)="getGrafica('Radiacion')">Radiación Solar</a>
            </li>
            <li>
                <a #Rain (click)="getGrafica('Precipitacion')">Precipitación</a>
            </li>

        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <app-chart-temperature [hidden]="!Temperatura"></app-chart-temperature>
            <app-chart-humidity [hidden]="!Humedad"></app-chart-humidity>
            <app-chart-solar-rad [hidden]="!Radiacion"></app-chart-solar-rad>
            <app-chart-rain [hidden]="!Precipitacion"></app-chart-rain>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>